<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.doubletouch.vendasup" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Kratos.Light"
        android:name=".VendasUp">
        <activity
            android:name="br.com.doubletouch.vendasup.presentation.view.activity.ProductListActivity"
            android:label="@string/title_activity_product_list" >
        </activity>

        <activity
            android:name="br.com.doubletouch.vendasup.presentation.view.activity.ProductDetailsActivity"
            android:label="@string/title_activity_product_details" >
        </activity>

        <activity
            android:name="br.com.doubletouch.vendasup.presentation.view.activity.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>

        <activity
            android:name="br.com.doubletouch.vendasup.presentation.view.activity.CustomerListActivity"
            android:label="@string/title_activity_customer_list">
        </activity>

        <activity
            android:name="br.com.doubletouch.vendasup.presentation.view.activity.CustomerDetailsActivity"
            android:label="@string/title_activity_customer_details" >
        </activity>

        <activity
            android:name="br.com.doubletouch.vendasup.presentation.view.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_login" >
        </activity>

        <activity
            android:name=".presentation.view.activity.order.OrderActivity"
            android:label="@string/title_activity_order" >
        </activity>

        <activity
            android:name=".presentation.view.activity.order.OrderProductActivity"
            android:label="@string/title_activity_order_products" >
        </activity>

        <activity
            android:name=".presentation.view.activity.order.OrderPaymentActivity"
            android:label="@string/title_activity_order_payments" >
        </activity>





        <activity
            android:name="br.com.doubletouch.vendasup.presentation.view.activity.CargaInicialActivity"
            android:label="@string/title_activity_carga_inicial" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
